* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}paddingBlock
html, body  { 
	height: 100%;
  width: 100%;
  text-align: center;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects {
  width: 65%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
}

.project {
  border: 0.5px solid #d8d2d2;
  padding: 10px;
  border-radius: 15px;
}

.project:hover {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 600px) {
  .projects { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .projects { grid-template-columns: repeat(3, 1fr); }
}
